{
    "bracketSpacing": true,
    "singleQuote": false,
    "trailingComma": "all",
    "tabWidth": 2,
    "semi": true,
    "printWidth": 100,

    "jsxBracketSameLine": true,
    "jsxSingleQuote": false,

    "endOfLine": "auto",
    "bracketSameLine": true
  }